@page
@model asp_presentacion.Pages.Vistas.HomeModel

@section Styles {
    <link rel="stylesheet" href="~/css/home.css?v=@DateTime.Now.Ticks" />
}

@{
}

<header>
    <partial name="_Navbar" />
</header>


<h1>Home funca</h1>
