@page
@model asp_presentacion.Pages.Vistas.HomeModel

@section Styles {
    <link rel="stylesheet" href="~/css/home.css?v=@DateTime.Now.Ticks" />
}

@{
}

<header>
    <partial name="_Navbar" />
</header>

<div class="cards">

    <div class="option-card">
        <a asp-area ="" asp-page="/Vistas/TakeOrder">
            <img src="~/images/sheet.png" />
            Crear Orden
        </a>
    </div>

    <div class="option-card">
        <a asp-area="" asp-page="/Vistas/Home"></a>

        <a asp-page="/Vistas/CustomersVehicles">
            <img src="~/images/driver-guide-chair-car.png" />
            Personas / Vehiculos
           
        </a>
    </div>

    <div class="option-card">
        <a asp-area="" asp-page="/Vistas/Home">
            <img src="~/images/processing-time.png" />
            Procesos
        </a>
    </div>

    <div class="option-card">
        <a asp-area="" asp-page="/Vistas/Home">
            <img src="~/images/gear.png" />
            Acciones
        </a>
    </div>

    <div class="option-card">
        <a asp-area="" asp-page="/Vistas/Home">
            <img src="~/images/pdf.png" />
            Reportes
        </a>
    </div>
</div>

