@* @model asp_presentacion.Pages.Shared.NavbarModel  *@

@section Styles {
    <link rel="stylesheet" href="~/css/navbar.css?v=@DateTime.Now.Ticks" />
}
<nav>
    <div class="nav">
        
        <h2>
            <a asp-area="" asp-page="/Vistas/Home">MechanicDesk</a>
        </h2>
        
        <div class="container-navbar">
            <ul class="container-navbar_list">
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Brands">Marcas</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Categories">Categorias</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Customers">Clientes</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Employees">Empleados</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Orders">Ordenes</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/PaymentMethods">Metodos de Pago</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Products">Productos</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Sales">Ventas</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Services">Servicios</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-anchor" asp-area="" asp-page="/Ventanas/Vehicles">Vehiculos</a>
                </li>
                <li class="navbar-item">
                    <form method="post" asp-page-handler="BtClose" asp-page="/Index">
                        <input type="submit" value="Cerrar sesión" class="cerrar-sesion" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
