@page
@model IndexModel

@section Styles {
    <link rel="stylesheet" href="~/css/index.css?v=@DateTime.Now.Ticks" />
}

@{
    ViewData["Title"] = "Login";
}

@if (!Model.EstaLogueado)
{
    <div class="container">
        
       
        <div class="container-login">

            <h3>
                Login
            </h3>

            <form method="POST">
                <div class="container-usuario">
                    <input onchange="keyUp(this)"
                           asp-for="@Model.UserName"
                            class="input-usuario" placeholder="Usuario" />
                </div>
                <div class="container-contrasenha">
                    <input type="password"
                            onchange="keyUp(this)"
                            asp-for="@Model.Password"
                            class="input-contrasenha" placeholder="Contraseña" />
                </div>

                <input type="submit"
                        value="Iniciar Sesión"
                        asp-page-handler="BtEnter"
                        class="btn-iniciar-sesion" />
            </form>
        </div>
    </div>
}
