@page
@model IndexModel

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

@{
    ViewData["Title"] = "";
}
@if (!Model.EstaLogueado)
{
    <div class="container">
        <h3>
            Login
        </h3>

        <div>
            <div class="container-login">
                <form method="POST">
                    <div class="container-usuario">
                        <input onchange="keyUp(this)"
                               asp-for="@Model.Email"
                               class="input-usuario" placeholder="Usuario" />
                    </div>
                    <div class="container-contrasenha">
                        <input type="password"
                               onchange="keyUp(this)"
                               asp-for="@Model.Contrasena"
                               class="input-contrasenha" placeholder="Contraseña" />
                    </div>

                    <input type="submit"
                           value="Iniciar Sesión"
                           asp-page-handler="BtEnter"
                           class="btn-iniciar-sesion" />
                </form>
            </div>
        </div>
    </div>
}
